/*
  Author : Sebastien Koss
  Copyright © 2016 All rights reserved. 
  Backgrounds by : http://codepen.io/taylorvowell/pen/BkxbC
*/

@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,700|Open+Sans:400,300,600';

html {
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
  height: 100%;
}

body {
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', cursive;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  margin: 10px 0;
  text-align: center;
}

#sliderNav {
  position: relative;
  margin: 20px auto 0 auto;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  box-shadow:0 0 50px #000 inset;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  display: block;
  float: left;
  font-size: 1.4em;
  height: 250px;
  line-height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 500px;
}

#slider ul li:nth-child(2n+1) {
  background-image: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  color: #fff;
}
#slider ul li:nth-child(2n) {
  background-image: linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  color: #000;
}

#sliderNav a.prev, #sliderNav a.next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 3% 3% 4%;
  width: 10px;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  line-height:50%;
  font-size: 35px;
  opacity: 0.1;
  cursor: pointer;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

#sliderNav a.prev:hover, #sliderNav a.next:hover {
  opacity: 0.7;
}

#sliderNav a.prev {
  border-radius: 0 100% 100% 0;
}

#sliderNav a.next {
  right: 0;
  border-radius: 100% 0 0 100%;
}

#sliderNav:hover > a {
  opacity: 0.35;
}

.slider_option {
  font-size: 18px;
  margin: 10px auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.slider_option label {
  cursor:pointer;
}